*~
.bash_history
.emacs.d/.smex*
.emacs.d/.emacs.desktop
.emacs.d/backups/
.emacs.d/desktop/
.emacs.d/elpa/
.emacs.d/places
.emacs.d/saves/
.emacs.d/themes/
.ido.last
.saves/
.emacs.d/.emacs.desktop.lock
.emacs.d/auto-save-list/
.emacs.d/nrepl-history
.emacs.d/server/
.recentf
org/
